<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h3>Shop Dashboard</h3>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="addProductTab">Add Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="viewProductsTab">View Products</a>
            </li>
            <!-- Other tabs can be added here -->
        </ul>
        <div class="mt-4" id="content">
            <!-- Add Product form or View Products list will be displayed here -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../../controller/js/fetch_product.js"></script>
</body>
</html>
